<footer style="display: flex; justify-content: center;align-items: center;padding: 20px ;font-size: larger; background-color: black; margin-top: auto; height: 50px;">
    <div >
        <span class="text-light " >&copy;HotelHunt 2022</span>
    </div>
</footer>